.footer {
    background-color: #003862;
}

.footer .menu {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 140px;
    padding: 95px 0 130px;

    a {
        color: white;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    .nav-menu {
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 60px;
    }

    .list {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .link {
        margin-bottom: 50px;
    }
}

.footer .footer-links {
    background-color: white;
}

.footer .footer-links,
.footer-links a {
    font-size: 14px;
    color: #62656f;
    padding: 25px 0;
}

.copyright {
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 0;
}

.footer-logo img {
    width: 150px;
    height: auto;
}

.footer-links .container {
    justify-content: space-between;
}